.info-card {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1.5rem;
  background-color: #2c3e50; /* Color de fondo similar al de la imagen */
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
  cursor: pointer; /* Para indicar que es interactivo */
  color: #fff;
}

.info-image-container {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-right: 1.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #5f0c0c; /* Color de fondo de la imagen, si es necesario */
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-image {
  width: 80%; /* Ajusta el tamaño de la imagen dentro del círculo */
  height: auto;
  object-fit: fill;
}

.info-content {
  flex-grow: 1;
}

.info-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 0.5rem;
  color: #fff;
  text-transform: uppercase;
}

.info-description {
  font-size: 1rem;
  margin: 0;
  line-height: 1.5;
}