.services-section {
  padding: 3rem 1rem;
  background-color: #f4f4f4;
  
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

